<% include header.ejs %>
<style type="text/css">
.icon{
      display:block;
      float:left;
      margin:16px 20px;
      font-weight:600;
    }
    .navbar{
      margin:0;
      border-radius:0;
    }
    .navbar-bracket{
      display:  block;
      float:right;
      overflow: hidden;
      margin:26px 20px;
      padding: 0;
      list-style: none;
      vertical-align: middle;
      white-space: nowrap;
      font-family: Hiragino Sans GB, Microsoft Yahei !important;
    }
    ul li{
      display:block;
      float:left;
      display: inline-block;
      margin-top: -4px;
      color: #000;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      font-size:18px;
      padding:0 10px;
    }
    .col-lg-3{
      text-align:center;
      width:25% !important;
      float:left;
      height:100px;
      color:white;
      padding:0;
      line-height:100px;
    }
    .divider{
      text-align:center;
      margin-top:5%;
    }
    .divider:before,.divider:after{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 35%;
      height: 1px;
      background-color: #BABFC3;
      margin: 0 0% 0 -50%;
    }
    .divider:after{
      margin: 0 -50% 0 0%;
    }
    .divider span{
      font-size:24px;
      padding:8px 40px;
    }
    .edit{
      text-align:center;
    }
    .edit .img{
      display: block;
      width:120px;
      height:120px;
      border:1px solid gray;
      border-radius:22.7%;
      margin:100px auto;
      margin-bottom:30px;
      line-height:120px;
    }
    .content{
      width:94%;
      max-width:1000px;
      margin:30px auto;
      text-align: left;
    }
    .section {
        position: relative;
        z-index: 2;
        padding: 20px 0;
        border-top: 1px solid #DAE2E3;
    }
    h2{
      font-size: 25px;
    }
    h3{
      font-size: 20px;
    }
    pre {
        white-space: pre-line;
        word-wrap: break-word;
        word-break: break-all;
        line-height: 22px;
        background-color: #fff;
        border: 0;
        border-radius: 4px;
        padding:0;
        font-size: 16px;
        color: #A9B1B3;
    }
    .list-wrapper {
        overflow-x: scroll !important;
        overflow-y: hidden;
        max-width: 100%;
        padding: 20px 0;
    }
    ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
    }
    ul li {
        float: none;
        display: inline-block;
        padding-right: 20px;
        vertical-align: middle;
    }
    ul li img{
        height:430px;
    }
    .info{
      text-align:center;
    }
    .users{
      width:50px;
      height:50px;
      border:1px solid gray;
      float:left;
      margin-right:20px;
      border-radius:22.7%;
    }
    .list-group-item{
      min-height: 70px !important;
    }
    h4{
      margin:0;
    }
    .commentEdit{
      display: block;
      width: 100%;
      height: 90px;
      padding: 6px 12px;
      font-size: 15px;
      line-height: 1.5;
      color: #555;
      margin-bottom: 20px;
      border-radius: 5px;
      border: 1px solid #D2D2D2;
    }
    .send{
      height: 55px;
      width: 100%;
    }
    .btn-lg{
      display: block;
      float: right;
    }
    .like{
      position: absolute;
      right:150px;
      top:80px;
      font-size: 30px;
    }
    .down{
      position: absolute;
      right:50px;
      top:80px;
      font-size: 30px;
    }
    .appUrl{
      display: block;
      width: 120px;
      margin: 0 auto;
    }
    .likeNum{
        padding-left: 20px;
    }
    .active{
      color: #86CC2A;
    }
  </style>
<body>
<nav class="navbar navbar-transparent">
  <a class="icon" href="../"> <i>share&link</i>
  </a>
  <ul class="navbar-bracket">
    <% if(user){ %>
      <a href="../market">
        <li>市集</li>
      </a>
    <% } else { %>
      <a href="../signin">
        <li>登陆 | 注册</li>
      </a>
    <% } %>
  </ul>
</nav>
<div class="edit">
  <a href="<%= result[0].attributes.url %>" class="appUrl">
    <% if(result[0].attributes.srcIcon){ %>
      <img class="img" src="<%= result[0].attributes.srcIcon %>" alt="<%= result[0].attributes.srcName %>">
    <% } else { %>
      <div class="img">
        <%= result[0].attributes.srcName %>
        <div></div>
      </div>
    <% } %>
  </a>
  <h1><%= result[0].attributes.srcName %></h1>
  <div class="content">
    <div class="master-section section">
      <p>应用名称: <%= result[0].attributes.srcName %></p>

      <% function bytesToSize(bytes) {
          if (bytes === 0) return '0 B';
          var k = 1024;
          sizes = ['B','KB', 'M', 'G', 'T'];
          i = Math.floor(Math.log(bytes) / Math.log(k));
          return (bytes / Math.pow(k, i)).toFixed(2) + ' ' + sizes[i];
      } %>

      <p>应用大小: <%= bytesToSize(result[0].attributes.sourceSize) %></p>
      <p>应用平台: <%= result[0].attributes.type %></p>
      <p>应用作者: <%= resultDetail[0].attributes.uploader %></p>
      <p>应用简介: <%= result[0].attributes.simpleDescribe %></p>
      <div class="like">
        <a>
        <% if(like.length > 0){ %>
          <span class="glyphicon glyphicon-thumbs-up active" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-thumbs-up noactive" style="display:none" aria-hidden="true"></span>
        <% } else { %>
          <span class="glyphicon glyphicon-thumbs-up noactive" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-thumbs-up active" style="display:none" aria-hidden="true"></span>
        <% } %>
          <span class="likeNum"><%= result[0].attributes.likeNum %></span>
        </a>
      </div>
      <div class="down">
        <a href="<%= result[0].attributes.url %>">
          <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
        </a>
      </div>
    </div>

    <div class="describe-section section">
      <h2 class="describe">应用描述</h2>
      <pre><%= eval('('+resultDetail[0].attributes.describe+')').describeText %></pre>
    </div>

    <div class="screenshots-section section">
      <h2 class="screenshots">应用截图</h2>
      <div class="list-wrapper">
        <ul>
          <% for(i = 0; i < eval('('+resultDetail[0].attributes.describe+')').images.length ;i++){ %>
            <li><img src="<%= eval('('+resultDetail[0].attributes.describe+')').images[i] %>"></li>
          <% } %>      
        </ul>
      </div>
    </div>

    <div class="comment-section section">
      <h2 class="comment">用户评论</h2>

      <textarea class="commentEdit" placeholder="撰写评论..." name="commentText"></textarea>
      <div class="send" style="display:none">
        <button type="button" class="btn btn-primary btn-lg send-btn">发表</button>
      </div>

        <% for(i = comment.length - 1; i >= 0 ;i--){ %>
          <div class="list-group">
            <a class="list-group-item">
              <img class="users" src="<%= comment[i].attributes.userHead %>"></img>
              <% var mydate = new Date();%>
              <% if(comment[i].createdAt.toLocaleDateString() == mydate.toLocaleDateString()){ %>
                <h4><%= comment[i].createdAt.toLocaleTimeString()%></h4>
              <% } else { %>
                <h4><%= comment[i].createdAt.toLocaleString() %></h4>
              <% } %>
              <p class="list-group-item-text"><%= comment[i].attributes.content %></p>
            </a>
          </div>
        <% } %> 
    </div>

  </div>
</div>
<% include footer.ejs %>
<script type="text/javascript">
  $(".commentEdit").on("focus",function(){
    <% if(!user){ %>
      window.location.href = "../signin";
     <% } %>
  })
  $(".commentEdit").on("input propertychange",function(){
    var commentText = $(".commentEdit").val();
    if(commentText <= 0){
      $(".send").hide();
    }else{
      $(".send").show();
    } 
  })
  $(".send-btn").on("click",function(){
    var data = {};
    data.commentText = $(".commentEdit").val();
    data.appid = "<%= result[0].attributes.appid %>";
      $.ajax({
        type : "POST",
        data: data,
        dataType: "json",
        url : "/app/comment",
        success : function(result){
          if(result){
            alert("发表成功");
            var list = '<div class="list-group"><a class="list-group-item"><img class="users" src="'+result.userHead+'"><h4>刚刚</h4><p class="list-group-item-text">'+result.content +'</p></a></div>';
            $(".send").after(list);
            $(".commentEdit").val('');
            $(".send").hide();
          }else{
            alert("发表失败");
          }
        },
        error: function(error){
          alert(error);
        }
      });
  })
  // $(".active").on("click",function(){
  //     $(".active").hide();
  //     $(".noactive").show();
  // })
  // $(".noactive").on("click",function(){
  //     $(".active").show();
  //     $(".noactive").hide();
  // })
  <% if(user){ %>
    var num = <%= result[0].attributes.likeNum %>;

    console.log(num);

    $(".active").on("click",function(){
        $(".active").hide();
        $(".noactive").show();
        num = num - 1;
        $(".likeNum").text(num);
      });
    $(".noactive").on("click",function(){ 
        $(".active").show();
        $(".noactive").hide();
        num = num + 1;
        $(".likeNum").text(num);
      })
  <% } %>

    $(".glyphicon-thumbs-up").on("click",function(){

      <% if(!user){ %>
        window.location.href = "../signin";
      <% } else { %>
        var data = {};
        data.appid =  "<%= result[0].attributes.appid %>";
        data.objectId =  "<%= result[0].id %>";
          $.ajax({
            type : "POST",
            data: data,
            dataType: "json",
            url : "/app/like",
            success : function(result){
              alert(result);
            },
            error: function(error){
              alert(error);
            }
          });
      <% } %>
    })
</script>
</html>