<% include header.ejs %>
<style type="text/css">
  .icon{
    display:block;
    float:left;
    margin:16px 20px;
    font-weight:600;
  }
  .navbar{
    margin:0;
    border-radius:0;
  }
  .navbar-bracket{
    display:  block;
    float:right;
    overflow: hidden;
    margin:26px 20px;
    padding: 0;
    list-style: none;
    vertical-align: middle;
    white-space: nowrap;
    font-family: Hiragino Sans GB, Microsoft Yahei !important;
  }
  ul li{
    display:block;
    float:left;
    display: inline-block;
    margin-top: -4px;
    color: #000;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size:18px;
    padding:0 10px;
  }
  .col-lg-3{
    text-align:center;
    width:25% !important;
    float:left;
    height:100px;
    color:white;
    padding:0;
    line-height:100px;
  }
  .Android{
    color:#86CC2A;
  }
  .Iphone{
    color:#F8CD0B;
  }
  .PC{
    color:#2AA7CC;
  }
  .Other{
    color:#17BFAF;
  }
  .divider{
    text-align:center;
    margin-top:5%;
  }
  .divider:before,.divider:after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 35%;
    height: 1px;
    background-color: #BABFC3;
    margin: 0 0% 0 -50%;
  }
  .divider:after{
    margin: 0 -50% 0 0%;
  }
  .divider span{
    font-size:24px;
    padding:8px 40px;
  }
  .content{
    width:100%;
    max-width:900px;
    margin:0 auto;
    text-align:center;
  }
  .source .content div{
    display:inline-block;
    margin:20px;
    width:100px;
    height:100px;
    line-height:100px;
    text-align:center;
    border-radius:22.7%;
    border:1px solid gray;
  }
  .source .content img{
    display:inline-block;
    margin:20px;
    width:100px;
    height:100px;
    line-height:100px;
    text-align:center;
    border-radius:22.7%;
    border:1px solid gray;
  }
  .content a{
    color:inherit !important;
  }
  .list-group{
    text-align:left;
    padding:5px;
  }
  .users{
    width:50px;
    height:50px;
    border:1px solid gray;
    float:left;
    margin-right:20px;
    border-radius:22.7%;
  }
  .info{
    text-align:center;
  }
  .info .img{
    width:120px;
    height:120px;
    border:1px solid gray;
    border-radius:22.7%;
    margin:100px auto;
    margin-bottom:50px;
  }
  .info-btn{
    width:200px;
    height:55px;
    border:1px solid #D4D8DC;
    color:#9BA5A7;
    border-radius:10px;
    line-height:50px;
    margin:30px auto;
  }
  .info-btn:hover{
    border:1px solid gray;
    color:gray;
  }
  .box{
    width: 200px;
    height: 200px;
    line-height:100px;
    text-align:center;
  }
  .modal-dialog {
      /*width: 90%;
      margin: 20% auto;
      text-align: center;*/
    /*top: 200px;*/
    display: inline-block;
    width: 200px;
    height: 200px;
    line-height:200px;
    font-size: 30px;
    text-align:center;
    border-radius:22.7%;
    border:1px solid gray;
    margin: 5% 5%;
    
  }
  .modal-dialog a{
    color: white !important;
  }
  .modal-content {
    width: 200px;
    height: 200px;
  }
  .modal{
    text-align: center;
  }
  .modal-dialog-content{
    margin-top: 15%;
  }
  .android{
    background-color:#86CC2A;
  }
  .ios{
    background-color:#F8CD0B;
  }
  .pc{
    background-color:#2AA7CC;
  }
  .web{
    background-color:#17BFAF;
  }
  .add{
    cursor:crosshair;
  }
</style>
<body>
  <nav class="navbar navbar-transparent">
    <a href="../" class="icon"> <i>share&link</i>
    </a>
    <ul class="navbar-bracket">
      <a href="../">
        <li>主页</li>
      </a>
      <a href="../market">
        <li>市集</li>
      </a>
      <a href="./info" class="active">
        <li>个人中心</li>
      </a>
    </ul>
  </nav>
  <div class="info">
    <!-- <div class="img">
      <a href="#">
        <div></div>
      </a>
    </div> -->
    <a href="../users">
      <img class="img" src="<%= userInfo[0].attributes.userHead %>"></img>
    </a>

    <div><%= userInfo[0].attributes.userName %></div>
    <a href="../users">
      <div class="edit info-btn">修改个人信息</div>
    </a>
    <a href="../logout">
      <div class="quit info-btn">退出</div>
    </a>
  </div>
  <div class="source">
    <div class="divider">
      <span>资源</span>
    </div>
    <div class="content">

       <% if(apps != "error"){ %>
        <%  for(i = 0; i < apps.length;i++){ %>
          <a href="../app/<%= apps[i].attributes.appid %>">
            <% if(apps[i].attributes.srcIcon){ %>
              <img class="img" src="<%= apps[i].attributes.srcIcon %>" alt="<%= apps[i].attributes.srcName %>">
            <% }else{ %>
              <div><%= apps[i].attributes.srcName %></div>
            <% } %>
          </a>
        <% } %>
      <% } %>
      <a href="" data-toggle="modal" data-target="#myModal" class="add">
        <img class="img" src="../img/add.jpg">
      </a>
    </div>
  </div>
  <!-- <div class="trends">
    <div class="divider">
      <span>动态</span>
    </div>
    <div class="content">
      <div class="list-group">
        <a href="#" class="list-group-item">
          <div class="users"></div>
          <h4 class="list-group-item-heading">招聘UI设计师</h4>
          <p class="list-group-item-text">急需一名UI，请联系我。</p>
        </a>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <div class="users"></div>
          <h4 class="list-group-item-heading">招聘UI设计师</h4>
          <p class="list-group-item-text">急需一名UI，请联系我。</p>
        </a>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <div class="users"></div>
          <h4 class="list-group-item-heading">招聘UI设计师</h4>
          <p class="list-group-item-text">急需一名UI，请联系我。</p>
        </a>
      </div>
    </div>
  </div> -->
  <!-- Small modal -->
  <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog-content">
    <div class="modal-dialog" role="document">
      <a href="../send?type=android">
        <div class="android modal-content">
          Android
        </div>
      </a>
    </div>
     <div class=" modal-dialog" role="document">
       <a href="../send?type=ios">
        <div class="ios modal-content">
          IOS
        </div>
      </a>
    </div>
    <div class=" modal-dialog" role="document">
      <a href="../send?type=pc">
        <div class="pc modal-content">
          PC
        </div>
      </a>
    </div>
    <div class=" modal-dialog" role="document">
      <a href="../send?type=web">
        <div class="web modal-content">
          Web
        </div>
      </a>
    </div>
  </div>
</div>
<% include footer.ejs %>
<script type="text/javascript">
  $('.modal').on("click",function(){
    $('#myModal').modal("hide");
  })
</script>
</html>