<% include header.ejs %>
<style type="text/css">
  .icon{
      display:block;
      float:left;
      margin:16px 20px;
      font-weight:600;
    }
    .navbar{
      margin:0;
      border-radius:0;
    }
    .navbar-bracket{
      display:  block;
      float:right;
      overflow: hidden;
      margin:26px 20px;
      padding: 0;
      list-style: none;
      vertical-align: middle;
      white-space: nowrap;
      font-family: Hiragino Sans GB, Microsoft Yahei !important;
    }
    ul li{
      display:block;
      float:left;
      display: inline-block;
      margin-top: -4px;
      color: #000;
      vertical-align: middle;
      text-align: center;
      text-decoration: none;
      font-weight: 600;
      font-size:18px;
      padding:0 10px;
    }
    .col-lg-3{
      text-align:center;
      width:25% !important;
      float:left;
      height:100px;
      color:white;
      padding:0;
      line-height:100px;
    }
    .Android{
      color:#86CC2A;
    }
    .Iphone{
      color:#F8CD0B;
    }
    .PC{
      color:#2AA7CC;
    }
    .web{
      color:#17BFAF;
    }
    .divider{
      text-align:center;
      margin-top:10%;
    }
    .divider:before,.divider:after{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 35%;
      height: 1px;
      background-color: #BABFC3;
    }
    .divider:after{
    }
    .divider span{
      font-size:24px;
      padding:8px 40px;
    }
    .content{
      width:100%;
      max-width:900px;
      margin:0 auto;
      margin-top:50px;
      text-align:center;
    }
    .content div,.content img{
      display:inline-block;
      margin:20px;
      width:100px;
      height:100px;
      line-height:100px;
      text-align:center;
      border-radius:22.7%;
      border:1px solid gray;
    }
    .content a{
      color:inherit !important;
    }
</style>
<body>
  <nav class="navbar navbar-transparent">
    <a class="icon" href="./"> <i>share&link</i>
    </a>
    <ul class="navbar-bracket">
      <a href="./">
        <li>主页</li>
      </a>
      <a class="active" href="./market">
        <li>市集</li>
      </a>
      <% if(user){ %>
        <a href="./users/info">
          <li>个人中心</li>
        </a>
      <% }else{ %>
        <a href="./signin">
          <li>登陆 | 注册</li>
        </a>
      <% } %>
    </ul>
  </nav>

  <div class="market">
    <a href="#Android">
      <div class="col-lg-3 Android">Android</div>
    </a>
    <a href="#Iphone">
      <div class="col-lg-3 Iphone">Iphone</div>
    </a>
    <a href="#PC">
      <div class="col-lg-3 PC">PC</div>
    </a>
    <a href="#web">
      <div class="col-lg-3 web">web</div>
    </a>
  </div>
  <div id="Android" class="Android type">
    <div class="divider">
      <span>Android</span>
    </div>
    <div class="content">

    <% if(Source != "error"){ %>
      <%  for(i = 0; i < Source.length;i++){ %>

        <% if(Source[i].attributes.type == "android"){ %>
          <a href="./app/<%= Source[i].attributes.appid %>">
            <% if(Source[i].attributes.srcIcon){ %>
                <img class="img" src="<%= Source[i].attributes.srcIcon %>" alt="<%= Source[i].attributes.srcName %>">
            <% }else{ %>
                <div><%= Source[i].attributes.srcName %></div>
            <% } %>
          </a>
        <% } %>

      <% } %>
    <% } %>
    </div>
  </div>
  <div id="Iphone" style="display:none" class="Iphone type">
    <div class="divider">
      <span>Iphone</span>
    </div>
    <div class="content">

       <% if(Source != "error"){ %>
        <%  for(i = 0; i < Source.length;i++){ %>
        
          <% if(Source[i].attributes.type == "ios"){ %>
            <a href="./app/<%= Source[i].attributes.appid %>">
              <% if(Source[i].attributes.srcIcon){ %>
                <img class="img" src="<%= Source[i].attributes.srcIcon %>" alt="<%= Source[i].attributes.srcName %>">
              <% }else{ %>
                <div><%= Source[i].attributes.srcName %></div>
              <% } %>
            </a>
          <% } %>
        <% } %>
      <% } %>

    </div>
  </div>
  <div id="PC" style="display:none" class="PC type">
    <div class="divider">
      <span>PC</span>
    </div>
    <div class="content">

      <% if(Source != "error"){ %>
        <%  for(i = 0; i < Source.length;i++){ %>
        
          <% if(Source[i].attributes.type == "pc"){ %>
            <a href="./app/<%= Source[i].attributes.appid %>">
              <% if(Source[i].attributes.srcIcon){ %>
                <img class="img" src="<%= Source[i].attributes.srcIcon %>" alt="<%= Source[i].attributes.srcName %>">
              <% }else{ %>
                <div><%= Source[i].attributes.srcName %></div>
              <% } %>
            </a>
          <% } %>
        <% } %>
      <% } %>

    </div>
  </div>
  <div id="web" style="display:none" class="web type">
    <div class="divider">
      <span>web</span>
    </div>
    <div class="content">
      <% if(Source != "error"){ %>
        <%  for(i = 0; i < Source.length;i++){ %>
        
          <% if(Source[i].attributes.type == "web"){ %>
            <a href="./app/<%= Source[i].attributes.appid %>">
              <% if(Source[i].attributes.srcIcon){ %>
                <img class="img" src="<%= Source[i].attributes.srcIcon %>" alt="<%= Source[i].attributes.srcName %>">
              <% }else{ %>
                <div><%= Source[i].attributes.srcName %></div>
              <% } %>
            </a>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </div>
<% include footer.ejs %>
</html>