<% include header.ejs %>
<style type="text/css">
  .icon{
      display:block;
      margin:16px 20px;
      font-weight:600;
    }
  .form{
      display:block;
      margin-top:8%;
  }
  .form-container{
      display:block;
      box-sizing: border-box;
      width:40%;
      max-width:500px;
      height:50px;
      margin:24px auto;
      padding:18px 20px;
      border-radius: 5px;
  }
  .btn-content{
      background:#66afe9;
      border-color: #66afe9;
      line-height:12px;
      color:white !important;
      margin:38px auto;
  }
  .btn-content-empty{
      background:#fff;
      border-color: #66afe9;
      color:#66afe9 !important;
      line-height:12px;
  }
  .divider{
      text-align:center;
      margin-top:5%;
  }
  .divider:before,.divider:after{
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 35%;
      height: 1px;
      background-color: #BABFC3;
      margin: 0 0% 0 -50%;
  }
  .divider:after{
      margin: 0 -50% 0 0%;
    }
  .divider span{
      font-size:24px;
      padding:8px 40px;
  }
</style>
<body>
  <a href="./" class="icon"> <i>Share&Link</i>
  </a>
  <div>
    <div class="divider">
      <span>登录</span>
    </div>
  </div>
  <% for(var i = 0; i < result.length;i++ ){ %>
  	<%= result[i].type%>
  	<%if(result[i].type == 1){%>
  		<%=result[i].data.title%>
  		<%=result[i].data.subtitle%>
  	<%}else{%>
  		<% for(var key in result[i].data){ %>
  			<%=result[i].data[key]%>
  		<% } %>
  	<%}%>
  <% } %>

  <form action="./signin" method="post">
    <input placeholder="邮箱" class="form-control form-container" name="email">
    <input type="password" placeholder="密码" class="form-control form-container" name="password"></form>
    <button class="form-container btn btn-block btn-content" id="signin">登录</button>
  <a href="./users/signup">
    <button class="form-container btn btn-block btn-content-empty">我是新用户，我要注册</button>
  </a>
<% include footer.ejs %>
<script type="text/javascript">
  var result = '<%=result.length%>';
  console.log(result);
  // console.log(JSON.parse(result));
  $("#signin").on("click",function(){
      // var data = $("input").serialize();
      var userName = "test";
      var pptData = [
    {
      "type":1,
      "data":{
      	"title":"测试",
      	"subtitle":"122"
      }
    },
    {
      "type":2,
      "data":{
      	"text1":"1",
      	"text2":"2",
      	"text3":"3",
      	"text4":"4",
      	"text5":"5",
      }
    },
    {
      "type":2,
      "data":{
      	"text1":"",
      	"text2":"test",
      	"text3":"哈哈",
      	"text4":"",
      	"text5":"嘻嘻",
      }
    }
  ];
  pptData = JSON.stringify(pptData);
      var data = {
      	userName : userName,
      	pptData     : pptData
      }
        $.ajax({
          type : "POST",
          data: data,
          dataType: "json",
          url : "/test",
          success : function(result){
            console.log(result);
          },
          error: function(error){
            alert(error);
          }
        });

  })
</script>
</html>